<div>
  <h1>Dashboard</h1>
  <div>
    <app-topWidgets></app-topWidgets>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <app-topThreeProducts></app-topThreeProducts>
    </div>
    <div class="col-12 col-sm-6">
      <app-salesByMonth></app-salesByMonth>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <app-lastFewTransactions></app-lastFewTransactions>
    </div>
    <div class="col-12 col-sm-6">
      <app-salesByCategory class="h-100"></app-salesByCategory>
    </div>
  </div>
</div>
