<div class="w-100 bg-dark px-5 pt-5 pb-3 mt-auto">
  <div class="row">
    <div class="col-12 col-md-3">
      <h3>
        <a routerLink="" class="text-light text-decoration-none fw-bold">RentA Car</a>
      </h3>
    </div>
    <ul class="col-12 col-md-3 d-flex flex-column">
      <a routerLink="" class="text-light text-decoration-none">WEEKLY THEMES</a>
      <a routerLink="" class="text-light text-decoration-none">PRE-SALE FAQS</a>
      <a routerLink="" class="text-light text-decoration-none">SUBMIT A TICKET</a>
    </ul>
    <div class="col-12 col-md-3">
      <a routerLink="" class="text-light text-decoration-none">SERIVCES</a>
    </div>
    <div class="col-12 col-md-3 d-flex flex-column">
      <a routerLink="" class="text-light text-decoration-none">SHOWCASE</a>
      <a routerLink="" class="text-light text-decoration-none">WIDGET KIT</a>
      <a routerLink="" class="text-light text-decoration-none">SUPPORT</a>
    </div>
  </div>
  <hr class="opacity-100" />
  <div class="d-flex justify-content-center">
    <div class="d-flex gap-3">
      <a routerLink="">
        <i class="fa-brands fa-facebook-f rounded-circle p-3 border-light border text-light text-center" style="width: 50px; height: 50px;"> </i>
      </a>
      <a routerLink="">
        <i class="fa-brands fa-twitter rounded-circle p-3 border-light border text-light text-center" style="width: 50px; height: 50px;"> </i>
      </a>
      <a routerLink="">
        <i class="fa-brands fa-linkedin rounded-circle p-3 border-light border text-light text-center" style="width: 50px; height: 50px;"> </i>
      </a>
      <a routerLink="">
        <i class="fa-brands fa-youtube rounded-circle p-3 border-light border text-light text-center" style="width: 50px; height: 50px;"> </i>
      </a>
      <a routerLink="">
        <i class="fa-solid fa-envelope rounded-circle p-3 border-light border text-light text-center" style="width: 50px; height: 50px;"> </i>
      </a>
    </div>
  </div>
  <h6 class="text-center text-light mt-4">©Copyright, All rights reserved.</h6>
</div>