<div>
  <div class="d-flex gap-3">
    <img src="assets/person.jpg" class="rounded-circle" style="width: 120px; height: 120px; object-fit: cover;"/>
    <div class="w-100">
      <h4>Person Name</h4>
      <h6>30 minutes ago</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum, veritatis nulla numquam, consectetur eveniet ratione molestias veniam odio, perspiciatis dolorem exercitationem quis nemo adipisci? Error laboriosam maxime dolor reprehenderit?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel harum, veritatis nulla numquam, consectetur eveniet ratione molestias veniam odio, perspiciatis dolorem exercitationem quis nemo adipisci? Error laboriosam maxime dolor reprehenderit?</p>
    </div>
  </div>
</div>