<div class="p-1 h-100">
  <div class="shadow p-3 d-flex flex-column align-items-center justify-content-center h-100">
    <h5 class="text-center">Last Few Transactions</h5>
    <table class="table text-center w-100">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="assets/car-1.png" style="width: 75px; height: 50px; object-fit: contain;"/>
          </td>
          <td>Car One Name</td>
          <td>Hatchack</td>
          <td><h5><span class="badge bg-primary">PENDING</span></h5></td>
        </tr>
        <tr>
          <td>
            <img src="assets/car-1.png" style="width: 75px; height: 50px; object-fit: contain;"/>
          </td>
          <td>Car One Name</td>
          <td>Hatchack</td>
          <td><h5><span class="badge bg-success">SHIPPED</span></h5></td>
        </tr>
        <tr>
          <td>
            <img src="assets/car-1.png" style="width: 75px; height: 50px; object-fit: contain;"/>
          </td>
          <td>Car One Name</td>
          <td>Hatchack</td>
          <td><h5><span class="badge bg-success">SHIPPED</span></h5></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>